[submodule "coap/src/main/cpp/thirdparty/libcoap"]
	path = coap/src/main/cpp/thirdparty/libcoap
	url = https://github.com/obgm/libcoap
[submodule "coap/src/main/cpp/thirdparty/libboundscheck"]
	path = coap/src/main/cpp/thirdparty/libboundscheck
	url = https://atomgit.com/openeuler/libboundscheck
